{% extends "base.html" %}
{% block content %}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<style type="text/css">
  .container {
  display: table;
  width: 100%;
}
#left {
   display: inline-block; 
        width: 50%;
        float: left;
}
#right {
   display: inline-block; 
        width: 50%;
        float: right;
}
</style>
<div class="container">
  <h1>Welcome, {{first_name}}!!!</h1>
  <div id="right" >
    <event style="font-size:24px">Events   <i class="fa fa-calendar"></i></event>
     {% if events %}
  
    {% for event in events %}
    <ul>
      <li>{{ event.event_type }}</li>
      <li>{{ event.event_text }}</li>
      <li>{{ event.event_date}}</li>
  </ul>
  {% endfor %}
  {% endif %}
  </div>
<div id="left" >
    <img src="/static/greenery.jpg" width="600" height="444">
  </div>

</div>
{% endblock %}
