{% extends "base.html" %}
{% block content%}
<style type="text/css">
label {
    display: inline-block; 
    width: 125px;
}
</style>
<title>Photos</title>
<form action="/photos" method="POST">

    <h1>Photos</h1>
<p><h2>Add and view your pictures !!!!</h2></p>

<p><h3><label>Add Album</label></h3></p>

<form id="photolink" type=text name="Photo Link">
<p><div><label>Album Name:</label><input type="text" id="eventname" name="Albumname" required></div></p>
    <p><div><label>Photo Link:</label><input type="text" id="urlOutput" size="60" name="Photolink" required></div></p>
    <p><input type="submit" value="Save"></p>
</form>
</form>

<p><h3>Click here to view your memories !!</h3></p>
<form action="/viewphotos">
<p><div>
    <input type="submit" value="View Photos">
  </div></p>
</form>

{% endblock %}